*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 223);
    position: relative;
}

.library_header {
    min-height: 100px;
    height: fit-content;
    background-color: rgb(242, 240, 245);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    padding: .5em;
}

.library_header-center {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerText {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.login {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.884);
    cursor: pointer;
    transition: 250ms;
    font-weight: bolder;
    background-color: white;
}

.login:hover {
    transform: scale(1.025);
}

.library_content {
width: 100%;
max-width: 1200px;
margin: 0 auto;

}

.addBtn {
    width: fit-content;
    height: fit-content;
    margin: .5em auto;
    cursor: pointer;
}

.addBtn:hover {
    opacity: 0.7;
}

.bookHolder {
    width: 100%;
    min-height: 500px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 3em;
}

.book {
    width: 250px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 280px;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.952);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .25em;
}

.readStatus {
    background-color: rgba(216, 56, 56, 0.658);
    width: 230px;
    margin: 0 auto;
    padding: 0.15em;
    border-radius: 5px;
    font-size: .85em;
    cursor: pointer;
    content: "Not Read";
}

.readStatus-yes {
    background-color: rgba(57, 207, 43, 0.658);
    width: 230px;
    margin: 0 auto;
    padding: 0.15em;
    border-radius: 5px;
    font-size: .85em;
    cursor: pointer;
    content: "Read";
}

.removeBtn {
    background-color: rgb(209, 209, 223);
    width: 230px;
    margin: 0 auto;
    padding: 0.15em;
    border-radius: 5px;
    font-size: .85em;
    border: none;
    cursor: pointer;
}

.readStatus:hover, .removeBtn:hover {
    opacity: 0.9;
}

.input_header {
    padding: .75em;
}

.input_section {
    max-width: 300px;
    width: 100%;
    height: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 223);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    position: relative;
}

.submit {
    border: none;
    width: 80%;
    margin: .5em auto;
    height: 35px;
    background-color: rgba(14, 87, 116, 0.842);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    letter-spacing: 3.5px;
}

.submit:hover {
    opacity: 0.9;
}

input {
    border: none;
    width: 80%;
    margin: .5em auto;
    height: 35px;
    border-radius: 10px;
    padding: .25em;
    font-size: 1em;
}

.inputWrapper {
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.visible {
    display: flex;
    animation: 100ms fade;
    margin: 0 auto;
}

@keyframes fade{
    0% {
        width: 1%;
        height: 1vh;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}

.readCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px;
}

.check {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: .2em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    opacity: .9;
    background-color: rgb(183, 183, 207);
}

.checked {
    background-color: rgb(21, 223, 21);
}

@media (max-width:885px) {
    .book {
        width: 330px;
    }

    .bookHolder {
        padding: 2em;
    }
}

@media (max-width:770px) {
    .book {
        width: 270px;
    }
    
    .bookHolder {
        padding: 1em;
    }
}

@media (max-width:620px) {
    .book {
        width: 100%;
    }
}

